* { box-sizing: border-box; }

        body {
            font-family: sans-serif;
            overflow: hidden;
            max-height: 100vh;
            min-height: 100vh;
            /* margin: 0; */
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        #iframe {
            width: 100%;
            flex: 1;
            background:ghostwhite; /* Tablet - hide background */
            overflow: scroll;
            border: none;
            margin: 0;
            padding: 0;
        }

        #iframe.empty {
            display: none;
        }
        
        #iframe:not(.empty) ~ .tab-content {
            display:none;
        }

        #iframe:not(.empty) + .placeholder {
            display:none;
        }     


        #tab-container {
            display: flex;
            flex: 1;
            top: 20px;
			bottom: 20px;
        }

        .tab {
            background: url('loadscreen.jpg');
            background-size: 100% 100%;
            position: relative;
            min-height:100%;
            display: flex;
            flex-direction: column;
        }

        .tab-wrap {
            position: relative;
            background: black;
            width: 100%;
            max-width: 100%;
            max-height: 95%;
            min-height: 95%;
            margin: 0 auto 0;
            padding: 30px;
            border-radius: 30px;
            transition: transform 0.75s ease, box-shadow 0.75s ease;
            display: flex;
            flex-direction: column;
        }

        .tab-wrap .dot {
            position: absolute;
            width: 35px;
            height: 20px;
            border-radius: 33%;
            bottom: 5px;
            border: 1px solid dodgerblue;
            transition: all 0.5s ease;
        }

        .tab-wrap .dot i {
            margin-left: 30%;
            color: white;
            transition: color 0.5s ease;
        }

        .tab-wrap .dot:hover {
            background: whitesmoke;
        }
        
        .tab-wrap .dot:hover i {
            color: black;
        }

        .tab-wrap .dot#reset {
            margin-left: 45%;
        }

        .tab-wrap .dot#off {
            margin-left: 50%;
        }

        .tab-wrap .tab {
            padding: 0;
            overflow: hidden;
        }

        @-webkit-keyframes JUMP {
            0% {
                bottom: 0;
            }
            50% {
                bottom: 20px;
                padding-bottom: 20px;
            }
            100% {
                bottom: 0;
            }
        }