#tab-container-flixxx {
    display: none;
    flex: 1;
    top: 20px;
    bottom: 20px;
}

#tab-container-flixxx .iframe {
    position: relative;
    width: 1471px;
    flex: 0.92;
    /*height: 937px;*/
    background:black; /* Tablet - hide background */
    margin-top: 48px;
    margin-left: 192px;
    padding: 0;
    border-radius: 6px;
    overflow: scroll;
    border: none;
    user-select: none;
}

@media only screen and (max-device-width: 1280px) and (max-device-height: 720px) {
    #tab-container-flixxx .iframe {
        flex: 0.67;
    }
}

@media only screen and (min-device-width: 1920px) and (min-device-height: 1080px) {
    #tab-container-flixxx .iframe {
        flex: 0.92;
    }
}

@media only screen and (min-device-width: 2560px) and (min-device-height: 1440px) {
    #tab-container-flixxx .iframe {
        flex: 0.67;
    }
    
    #tab-container-flixxx #tab-wrap-flixxx .dot {
        bottom: 1415px !important;
        left: -860px !important;
    }

    #tab-container-flixxx #tab-wrap-flixxx .dot#off {
        margin-left: 51.75% !important;
    }
}

@media only screen and (min-device-width: 3840px) and (min-device-height: 2160px) {
    #tab-container-flixxx .iframe {
        flex: 0.435;
    }
    
    #tab-container-flixxx #tab-wrap-flixxx .dot {
        bottom: 2135px !important;
        left: -1600px !important;
    }

    #tab-container-flixxx #tab-wrap-flixxx .dot#off {
        margin-left: 53.75% !important;
    }
}

#tab-wrap-flixxx {
    background: url('tablet.png');
    background-repeat: no-repeat;
    /*position: relative;
    background: black;*/
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 95%;
    margin: 0 auto 0;
    padding: 30px;
    border-radius: 30px;
    transition: transform 0.75s ease, box-shadow 0.75s ease;
    display: flex;
    flex-direction: column;
}

#tab-container-flixxx #tab-wrap-flixxx .dot { 
    position: absolute;
    width: 75px;
    height: 10px;
    border-radius: 100px;
    bottom: 1055px;
    left: -495px;
    /*border: 1px solid rgb(255, 0, 0);*/
    transition: all 0.5s ease;
}

#tab-container-flixxx #tab-wrap-flixxx .dot:hover {
    background: rgb(51, 51, 51);
}

#tab-container-flixxx #tab-wrap-flixxx .dot#off { /* Button */
    margin-left: 50%;
    width: 75px;
}

#tab-container-flixxx #tab-wrap-flixxx .dot#reset { /* Home Button */
    margin-left: 57.4%;
    width: 140px;
}